body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}
.scPage::-webkit-scrollbar {
  width: 0!important;
}
input, textarea, select, button, Input, Button {
	outline: none!important;
  resize: none!important;
}
input, textarea {
}
input:focus, textarea:focus {
}
select {
	cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.bg {
  background: url('dp.webp') center center;
  background-size: cover;
  background-repeat: no-repeat;
}